body {
    background-image: url(img/etienne-boulanger-mDOao83l1iU-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

flex-container {
    flex-grow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    height: 350px;
    margin: auto;
    position: absolute;
    background-color: rgba(10, 33, 65,0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
}

form {
}

label {
    padding: 12px 12px 12px 0;
    font-family: font-family;
    font-size: 24px;
    color: white;
}

input {
    width: 400px;
    height: 32px;
    float: right;
    vertical-align: middle;
    font-size: 15px;
}

button {
    vertical-align: middle;
    align-self: stretch;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-variant: normal;
    background-color: #597ab3;
    border-radius: 11px;
    color: #ffffff;
    float: right;
    border-left-style: none;
    border-right-style: none;
}

#labelInfo {
    font-size: 37px;
    line-height: 81px;
}

.erreur{
	margin : 0;
	padding : 0;
	color: red;

	}