body {
    background-image: url(img/matt-hoffman-Q0AM87PsYkE-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    display: flex;
}



flex-container {
     flex-grow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    height: 350px;
    margin: auto;
    position: absolute;
   background-color: rgba(8, 55, 36, 0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
}

form {
}

label {
    padding: 12px 12px 12px 0;
    font-family: font-family;
    font-size: 24px;
    color: white;
}

input {
    width: 400px;
    height: 32px;
    float: right;
    vertical-align: middle;
    font-size: 15px;
}

button {
    vertical-align: middle;
    align-self: stretch;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-variant: normal;
    background-color: rgba(89, 172, 179, 0.59);
    border-radius: 11px;
    color: #ffffff;
    float: right;
    border-left-style: none;
    border-right-style: none;
}

#labelInfo {
    font-size: 37px;
    line-height: 81px;
}

a {
    color: #ffffff;
    margin-left: 352px;
    padding-top: -40px;
    padding-bottom: -15px;
}

a:hover {
    color: #89a1d4;
}