body {
    background-image: url(img/etienne-boulanger-mDOao83l1iU-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

* {
    box-sizing: border-box;
    margin-bottom: 10px;
}

form {
    height: 100px;
    width: 1152px;
    align-self: stretch;
    margin-top: 36px;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
    float: middle;
    margin-left: 375px;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    width: 1200px;
    height: 720px;
    margin: auto;
    background-color: rgba(10, 33, 65,0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
}

.champRecherche {
    width: 87%;
    height: 27px;
}

button {
    font-size: 17px;
    font-variant: normal;
    background-color: rgba(79, 107, 155, 0.81);
    border-radius: 11px;
    color: #ffffff;
    border-left-style: none;
    border-right-style: none;
    width: 145px;
    bottom: 0px;
    z-index: 0;
    clear: left;
    float: middle;
    margin-top: -25px;
    padding-top: 1px;
    height: 31px;
}
datalist {
    max-height: 10px;
    overflow-y: auto;
}

a {
    color: #ffffff;
}
