body {
    background-image: url(img/etienne-boulanger-mDOao83l1iU-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

* {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.entete {
    text-align: left;
    float: middle;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
    float: middle;
    margin-left: 286px;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    width: 1200px;
    height: 720px;
    margin: auto;
    background-color: rgba(10, 33, 65,0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
  
}

form {
    height: 590px;
    width: 1152px;
    align-self: stretch;
    margin-top: 36px;
}

.ligne:after {
    content: "";
    display: table;
    clear: both;
}

.colonne {
    float: left;
    width: 50%;
    padding: 14px;
}

.colonneGauche {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: right;
}

.colonneDroite {
    float: left;
    width: 70%;
    padding: 10px;
    text-align: left;
}

label {
    font-size: 18px;
    color: #ffffff;
}

radio {
    text-align: left;
}

input[type=text] {
    width: 300px;
}

button {
    align-self: stretch;
    height: 40px;
    font-size: 20px;
    font-variant: normal;
    background-color: rgba(79, 107, 155, 0.81);
    border-radius: 11px;
    color: #ffffff;
    border-left-style: none;
    border-right-style: none;
    width: 200px;
    bottom: 0px;
    z-index: 0;
    clear: left;
    float: middle;
}

a {
    color: #ffffff;
}
em {
color : #ff0000;
}